@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007af3;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Poppins";
}

nav {
  display: none;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  color: gray;
  font-weight: bold;
  letter-spacing: 0.3em;
}

.left-col h1 {
  font-size: 2em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

.left-col .primary-cta {
  text-decoration: none;
  color: white;
  background: var(--primary-color);
  border-radius: 5em;
  padding: 0.6em 1.3em;
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
}

.left-col .watch-video-cta {
  display: block;
  margin-top: 1em;
}

.left-col .watch-video-cta img {
  padding-right: 0.5em;
}

.hero-img {
  margin-top: 3em;
  width: 90%;
}

section.features-section {
  background: #20272e;
  color: white;
}

section.features-section img {
  display: none;
}

ul.features-list {
  font-weight: 400;
  padding-left: 0.1em;
  margin: 0;
}

ul.features-list li {
  font-size: 20px;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  background-image: url("../images/bullet.svg");
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: contain;
  content: "";
  margin-left: -2em;
}

.testimonials-section {
  background: var(--primary-color);
  color: white;
}

.testimonials-section li {
  text-align: center;
  background: #006bd6;
  margin: 3em auto 3em auto;
  border-radius: 1em;
  padding-bottom: 2em;
}

.testimonials-section li img {
  border-radius: 50%;
  width: 5em;
  border: 5px solid #0165c9;
  margin-top: -2.5em;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  margin-bottom: 0.2em;
  font-size: 1.1em;
}

input,
textarea {
  border-radius: 0.3em;
  margin-bottom: 1.5em;
  margin-top: 0;
  width: 100%;
  border: 1px solid #686868;
  padding: 0.8em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  background: var(--primary-color);
  border-radius: 5em;
  color: white;
  padding: 0.8em 2em;
  font-size: 1.3em;
  margin-bottom: 5em;
  border: none;
  width: unset;
  display: inline-block;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  background: #1e1f26;
  right: 0;
  top: 0;
  width: 66%;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 0.5em;
  text-align: right;
  display: block;
  font-size: 1.3em;
}

nav li a:hover {
  font-weight: bold;
}

.exit {
  float: right;
  cursor: pointer;
  margin: 0.5em;
}

@media screen and (min-width: 768px) {
  .mobile-menu,
  .exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: auto;
    position: unset;
    padding: 0;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul.primary-nav {
    margin: 0;
  }
  nav li a {
    font-size: 1em;
    color: black;
    padding: 0em 0.8em;
  }
  li.current a {
    font-weight: bold;
  }
  li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 5em;
    font-weight: bold;
    margin-top: -0.2em;
  }
  li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
}
/*# sourceMappingURL=main.css.map */